.home-page {
    background-color: var(--clr-secondary-900);

    .container {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: var(--spacing-7);
        padding-bottom: var(--spacing-4);
    }

    h1 {
        font-size: var(--fs-2xl);
        font-weight: var(--fw-bold);
        color: var(--clr-secondary-050);
    }

    .badge {
        position: absolute;
        top: -1.5rem;
        left: 0;
    }


    .comics {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-6);

        &__grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: var(--spacing-5);
        }
    }
}
