footer {
    position: relative;
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-8);
        padding-block: var(--spacing-6);
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
    }

    .footer__section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        z-index: 999;

        &-title {
            color: var(--clr-secondary-050);
            font-size: var(--fs-lg);
            font-weight: var(--fw-bold);
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-2);
            list-style-type: none;
        }

        &-item {
            color: var(--clr-secondary-500);
            font-size: var(--fs-sm);
            font-weight: var(--fw-normal);
        }
    }
}
