header {
    background-color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-4);
        padding-block: var(--spacing-4);
    }
}
